
.header {
    display: flex;
    justify-content: center;
}

.bookings_header {
    display: flex;
    justify-content: center;
}

.venues_header {
display: flex;
justify-content: center;
}

.bands_header {
display: flex;
justify-content: center;
}

.bookings {
    display: flex;
    justify-content: center;
}

.venues_bands {
    display: flex;
    justify-content: center;
}

